@import "bootstrap/dist/css/bootstrap.min.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

.navbar-primary {
  background: #0066aa !important;
}

.navbar-menu-link {
  font-weight: 500;
  color: aliceblue;
  margin: 0 7px 0 3px;
  display: flex;
  align-items: center;
}

.navbar-menu-link:hover {
  color: #d2cf0c;
}

.app {
  background: rgb(245, 245, 245);
  min-height: 100vh;
}

.app-interno {
  display: flex;
  justify-content: end;
}

.app-interno-menu {
  padding-top: 40px;
  background: white;
  min-height: 100vh;
  position: fixed;
  left: 0px;
  top: 40px;
  padding-top: 1px;
}

.app-interno-conteudo {
  padding-top: 40px;
  background: #f3f3f3;
  position: relative;
}
.conteudo-titulo {
  position: fixed;
  top: 40px;
  width: 100%;
  padding: 10px 0 0 20px;
  color: #0066aa;
  background: #f3f3f3;
  font-size: 1rem;
  font-weight: 600;
  z-index: 10;
}

.conteudo {
  margin: 45px 15px;
  border-radius: 5px;
  padding: 20px 30px;
  background: white;
  min-height: 85vh;
  margin-bottom: 15px;
}

.conteudo label {
  font-size: 0.8rem;
  margin-bottom: 5px;
  font-weight: 500;
  color: #999;
}

.conteudo input {
  margin-bottom: 15px;
}

.teste input {
  background: red !important;
}

InputMask {
  background: red;
}

.conteudo input::placeholder {
  opacity: 0.9;
}

.tabela {
  text-align: center;
  /* background: red; */
  /* padding: 10px 0 5px 0; */
}

@media screen and (max-width: 992px) {
  .app-interno {
    position: relative;
  }

  .app-interno-menu {
    height: auto;
    padding: 10px 15px;
    background: red;
    margin: 0;
    position: relative;
    top: 40px;
    z-index: 10;
  }

  .app-interno-conteudo {
    margin-top: 100px;
    padding-top: 0;
  }

  .conteudo {
    margin: 0;
  }

  .titulo {
    display: none;
  }
}
